$green: #3EAF0E;
$bright-green: #3EEF0E;
$darkest-green: #324F17;
$dark-red: #862d2d;
$bright-red: #E50000;
$dark-gray: #212121;

//

$teal: #00A699;
$pink: #FF5A5F;
$foggy: #767676;
$dark-foggy: #484848;
$light-gray: #d3d3d3;
