* {
  min-height: 0;
  min-width: 0;
}

.featured-div, .hottest-div, .booked-div {
  margin-bottom: 40px;
}

.featured-title, .hottest-title, .booked-title {
  font-family: $lato;
  font-size: 18px;
  color: $foggy;
  margin-bottom: 25px;
}

.featured-slider, .hottest-slider, .booked-slider {
  display: flex;
  flex-direction: column;
  position: relative;
}

.slider-container img {
  width: 250px;
  height: 400px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.slick-arrow {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: calc(50% - 8px);
}

.slick-prev {
  left: -20px;
}

.slick-next {
  right: -20px;
}
