header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  border-bottom: 2px solid black;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  background: white;
  -webkit-font-smoothing: antialiased;
}

header section {
  display: flex;
  flex-direction: row;
}

header section ul {
  display: flex;
  align-items: center;
}

.nav-left {
  padding-left: 40px;
}

.nav-left li {
  padding-right: 11px;
  padding-left: 11px;
}

.nav-left li a {
  color: black;
}

.nav-left span {
  padding-right: 11px;
  padding-top: 3px;
}

.nav-left a:hover {
  color: $green;
}

.nav-right {
  padding-right: 20px;
}

.nav-right li:first-child {
  margin-right: 20px;
}

.nav-right button {
  font-size: 14px;
  background: $green;
	color: white;
	padding: 8px 15px;
	border-radius: 6px;
	text-align: center;
  box-shadow: 1px 1px 1px gray;
  line-height: 1;
  margin-right: 5px;
}

.nav-right button:hover {
  background: $bright-green;
  cursor: pointer;
}

.nav-search-bar {
  width: 50%;
  position: relative;
  justify-content: center;
  max-width: 800px;
  padding-right: 10px;
}

.search-bar {
  width: 90%;
  border-radius: 5px;
  padding: 8px 15px 8px 33px;
  border: 1px solid gray;
  font-size: 12px;
  box-shadow: 0.5px 0.5px 0.5px gray;
}

.nav-search-bar::before {
  position: absolute;
  content: "\f002";
  font-family: FontAwesome;
  color: gray;
  top: 10px;
  left: 3.5%;
}

#profile-pic {
  width: 30px;
  padding: 2px 20px 0 10px;
}

#profile-pic:hover {
  cursor: pointer;
}
