.session-form {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-box {
  display: flex;
  flex-direction: row;
  top: calc(50% - 75px);
  height: 200px;
  width: 100%;
}

.login-box-inputs {
  display: flex;
  flex-direction: column;
}
