.background {
  height: 100vh;
  background-image: url("http://res.cloudinary.com/rlee0525/image/upload/v1487841618/splash_hd-min_datzif.jpg");
  background-size: cover;
  background-position: center;

  .overlay {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);

    .session-form {
      position: relative;
      height: 100%;
      width: 100%;
      display: flex;

      .login-box {
        width: 600px;
        height: 440px;
        position: absolute;
        top: calc(50% - 220px);
        left: calc(50% - 275px);
        background: white;
        border-radius: 5px;
        display: flex;
        box-sizing: border-box;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.6);

        .login-box-instruction {
          display: flex;
          box-sizing: border-box;
          width: 42%;
          padding: 20px;
          justify-content: center;
          flex-direction: column;
          background-color: $green;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          h1 {
            font-size: 30px;
          }

          .divide-line {
            width: 50px;
            border-bottom: 5px solid black;
            padding: 10px 0 10px 0;
          }

          p {
            margin-top: 20px;
            font-size: 13px;
            line-height: 1.5em;
            -webkit-font-smoothing: antialiased;
          }
        }

        .login-box-inputs {
          display: flex;
          box-sizing: border-box;
          width: 58%;
          padding: 10px;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          .login-input-field {
            border-radius: 2px;
          }

          #sign-up-log-in-button {
            background-color: $green;
          }

          #sign-up-log-in-button:hover {
            background-color: $bright-green;
            cursor: pointer;
          }

          #question-login {
            font-size: 12px;
          }

          #status-toggle {
            background-color: rgba(0, 0, 0, 0);
          }

          #status-toggle {

          }
        }
      }
    }
  }
}
