.splash-page {
  height: 100%;
  background-color: #E5E5E4;
  display: flex;
  flex-direction: row;
  margin-left: 18vw;
  margin-right: 20vw;
  padding-top: 80px;
}

.splash-body {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-y: visible;
}

.banner > h1, #banner-button {
  text-align: center;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.banner {
  margin-top: 48px;
}

.banner > h1 {
  font-size: 46px;
  font-family: $lato;
  font-weight: 300;
  text-align: left;
}

.banner > h1 > span {
  color: $teal;
  font-weight: 900;
  letter-spacing: 0.5px;
  margin-right: 20px;
  line-height: 1.5em;
}

.search-bar-section {
  margin-top: 80px;
  width: 100%;
  position: relative;
  justify-content: center;
  padding-right: 10px;
}

.search-bar {
  width: 100%;
  border-radius: 5px;
  padding: 8px 15px 8px 33px;
  border: 1px solid gray;
  font-size: 30px;
  box-shadow: 0.5px 0.5px 0.5px gray;
}

#banner-button {
  position: absolute;
  left: calc(50% - 63.22px);
  top: calc(70% - 20px);
  font-size: 18px;
  color: white;
  align-self: center;
  background-color: $green;
  border-radius: 5px;
  border-bottom: 2px solid black;
  padding: 0.7em;
  -webkit-font-smoothing: antialiased;
}

#banner-button:hover {
  cursor: pointer;
  background-color: $bright-green;
}
