.splash-page {
  height: 100%;
  background-color: #E5E5E4;
  display: flex;
  flex-direction: row;
  margin-left: 18vw;
  margin-right: 18vw;
  padding-top: 80px;
}

.splash-body {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-y: visible;
}

.banner > h1, #banner-button {
  text-align: center;
  -webkit-animation: fadein 2s;
     -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
       -o-animation: fadein 2s;
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.banner {
  margin-top: 48px;
}

.banner > h1 {
  font-size: 46px;
  font-family: $lato;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

.banner > h1 > span {
  color: $teal;
  font-weight: 900;
  letter-spacing: 1px;
  margin-right: 10px;
  line-height: 1.2em;
}

.search-bar-container {
  margin: 70px 0;
  width: 100%;
  border: 1.5px solid $light-gray;
  box-shadow: 1.5px 1.5px 1.5px $light-gray;
  font-family: $lato;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-bar-section {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.search-container {
  width: 33%;
  border-left: 1px solid $light-gray;
  position: relative;
}

.search-container:first-child {
  border-left: none;
}

.search-title > p {
  font-family: $lato;
  font-size: 15px;
  font-weight: 400;
  padding: 15px 20px 10px 20px;
  color: $dark-foggy;
}

.search-input > input {
  border: none;
  font-family: $lato;
  font-weight: 300;
  font-size: 19px;
  padding: 5px 20px 10px 20px;
  color: $foggy;
  cursor: pointer;
}

.search-button {
  position: absolute;
  top: calc(50% - 25px);
  right: 1%;
}

.search-button > button {
  background-color: $teal;
  font-family: $lato;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  font-size: 18px;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#banner-button {
  position: absolute;
  left: calc(50% - 63.22px);
  top: calc(70% - 20px);
  font-size: 18px;
  color: white;
  align-self: center;
  background-color: $green;
  border-radius: 5px;
  border-bottom: 2px solid black;
  padding: 0.7em;
  -webkit-font-smoothing: antialiased;
}

#banner-button:hover {
  cursor: pointer;
  background-color: $bright-green;
}

::-webkit-input-placeholder {
  color: $foggy;
}

.suggestions-navbar {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 50px;
}

.suggestions-navbar > span {
  font-family: $lato;
  font-weight: 700;
  color: $foggy;
  margin-right: 35px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 12px;
  letter-spacing: 1px;
  cursor: pointer;
}

#suggestion-active {
  color: $pink;
  border-bottom: 3px solid $pink;
}

.splash-main {
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid $light-gray;
}

.featured-title {
  font-family: $lato;
  font-size: 18px;
  color: $foggy;
  margin-bottom: 25px;
}

.featured-slider-1 {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.featured-slider {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.featured-slider > img {
  width: 250px;
  height: 400px;
}

.img-slider {
  width: 250px;
  height: 400px;
}

.featured-div {
  margin-bottom: 40px;
}

.electron {
  margin-top: 100px;
  border-bottom: 1px solid $light-gray;
}

.mobile {
  margin-top: 100px;
  border-bottom: 1px solid $light-gray;
}

.footer {
  margin: 100px 0;
  border-bottom: 1px solid $light-gray;
}
